*.zip
data
databackup*
target
simulator.sh
simulator.bat
.ensime*
private.sbt
.settings
.classpath
.cache
.project
*.sublime-project
*.sublime-workspace
SimGen2/build
SimGen2/dist
rdata
SimGen2/build
SimGen2/dist
