*.zip
data
databackup*
target
simulator.sh
simulator.bat
.ensime*
private.sbt
.settings
.classpath
.cache
.project
*.sublime-project
*.sublime-workspace
SimGen2/build
SimGen2/dist
rdata
SimGen2/build
SimGen2/dist
SimGen2/sims.xml
SimGen2/algorithms.txt
SimGen2/populations.txt
SimGen2/functions.txt
SimGen2/dimensions.txt
simulator/xml/*
